<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">

        <a class="navbar-item" href="/">
            <img src="/images/OSCDLogo.png" alt="Open Science Community Delft">
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="top-menu"
        >
          <span aria-hidden="true"></span> <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="top-menu" class="navbar-menu">
        <div class="navbar-end">

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/index">The community</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/index#who-can-join-the-open-science-community-delft"> Who can join </a>
              <a class="navbar-item" href="/index#what-are-the-benefits"> Benefits </a>
              <a class="navbar-item" href="/index#get-involved"> Get involved </a>
              <a class="navbar-item" href="/index#code-of-conduct"> Code of Conduct </a>
            </div>
          </div>

          <a class="navbar-item" href="/events"> Events </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/members">Members</a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/members#ABE"> ABE </a>
              <a class="navbar-item" href="/members#AE"> AE </a>
              <a class="navbar-item" href="/members#AS"> AS </a>
              <a class="navbar-item" href="/members#CEG"> CEG </a>
              <a class="navbar-item" href="/members#EEMCS"> EEMCS </a>
              <a class="navbar-item" href="/members#IDE"> IDE </a>
              <a class="navbar-item" href="/members#threemE"> 3mE </a>
              <a class="navbar-item" href="/members#TPM"> TPM </a>
              <a class="navbar-item" href="/members#NF"> Non-Faculty </a>
              <a class="navbar-item" href="/members#Alumni"> Alumni </a>
            </div>
          </div>

          <a class="navbar-item" href="/posts"> Stories </a>

          <a class="navbar-item" href="https://forms.office.com/Pages/ResponsePage.aspx?id=TVJuCSlpMECM04q0LeCIe5b6siKuJadBi47i1ux3Gu1UQ1BZV1JJSk9WQlY3MUJHWllJRUpXR0NJSS4u"> Join us </a>
        </div>
      </div>
    </div>
  </nav>
