<div class="card people-card" id="{{ username }}">
  <div class="card-content">
    <div class="media">
      <div class="media-left people-card-avatar">
        <figure class="image is-128x128">
          <img
            class="is-2by3"
            src="{{user.photo}}"
            alt="The photo of {{ user.name}}"
          />
        </figure>
      </div>
      <div class="media-content people-card-meta">
        <p class="title is-4">{{ user.name }}</p>

        <p class="is-6">
          {{user.position}}<br>
          {{user.faculty}}<br>
          {% if user.department %}
          Department: {{user.department}}<br>
          {% endif %}

          {% if user.website %}
          <a href="{{ user.website }}"><i class="fas fa-globe"></i></a>
          {% endif %}
          {% if user.email %}
          <a href="mailto:{{ user.email }}"><i class="far fa-envelope"></i></a>
          {% endif %}
          {% if user.twitter %}
          <a href="https://twitter.com/{{ user.twitter }}"><i class="fab fa-twitter"></i></a>
          {% endif %}
          {% if user.github %}
          <a href="https://github.com/{{ username }}"><i class="fab fa-github"></i></a>
          {% endif %}
          {% if user.orcid %}
          <a href="https://orcid.org/{{ user.orcid }}"><i class="ai ai-orcid"></i></a>
          {% endif %}
          {% if user.linkedin %}
          <a href="{{user.linkedin}}"><i class="fab fa-linkedin-in"></i></a>
          {% endif %}
          {% if user.researchgate %}
          <a href="{{user.researchgate }}"><i class="ai ai-researchgate"></i></a>
          {% endif %}

          {% if user.affiliation or user.country %}
            <br>
            <i class="fas fa-map-marker-alt"></i>
            {% assign delim = '' %}
            {% if user.affiliation %}
            {{ user.affiliation }}
            {% assign delim = ', ' %}
            {% endif %}
            {% if user.country %}
            {{ delim }}{{ user.country }}
            {% endif %}
          {% endif %}
        </p>
      </div>
    </div>

    {% if user.expertise %}
    <p class="people">
      <div class="people-description-question">Expertise:</div> {{ user.expertise | join: ", " }}
    </p>
    {% endif %}

    <div class="people-description">
      {% if user.motivation %}
      <p class="people-description-question">
        <a class="card-toggle">
          More about {{ user.name }}
          <i class="fa fa-angle-down"></i>
        </a>
      </p>
      <div class="content is-hidden">
        {{ user.motivation | markdownify }}
      </div>
      {% endif %}
    </div>
  </div>
</div>
